
@{
    ViewData["Title"] = "AddAttendance";
}

<section class="content-header bg-gray-active" style="padding-top:5px">
    <div class="row">
        <div class="col-sm-4">
            <h2 style="font-size:30px">
                <i class="fa fa-pie-chart text-purple"></i>
                Attendance
                <small>Add</small>
            </h2>
</div>
        <!--
        <div class="col-sm-8">
            <div class="row" style="padding-top:15px;padding-bottom:5px">
                <div class="col-md-6 col-md-offset-3">
                    <input type="text" class="form-control" id="search" placeholder="Search.........." />
                </div>
            </div>
        </div>
            -->
    </div>
</section>
<!-- Main content -->
<div id="alert"></div>
<section class="content container-fluid bg-info">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="box box-info " style="box-shadow:gainsboro 5px 5px">
                <div class="box-header" style="font-size:25px"><i class="fa fa-plus-square"></i> Add Attendance</div>
                <div class="box-body" style="padding:20px">
                    <form id="form1">
                        <div class="form-group">
                            <label>Year</label>
                            <select id="year" class="form-control">
                                <option>----Select----</option>
                                @{ 
                                    var year = ViewBag.year;
                                    foreach(var y in year)
                                    {
                                        <option value="@y.Id">@y.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Roll No</label>
                            <input list="rollno" class="form-control" name="Rollno" id="roll">
                           
                            <datalist id="rollno">
                                @{
                                    var roll = ViewBag.rollno;
                                    foreach (var r in roll)
                                    {
                                        <option value="@r.Roll"></option>
                                    }
                                }
                            </datalist>
                        </div>
                        <div class="form-group">
                            <label>Month</label>
                            <select id="month" name="Month" class="form-control">
                                <option>----Select----</option>
                                <option>December</option>
                                <option>January</option>
                                <option>February</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Total (Monthly)</label>
                            <input type="number" min="0" max="120" class="form-control" name="total" />
                        </div>
                        <div class="form-group">
                            <label>Current (Monthly)</label>
                            <input type="number" min="0" max="120" class="form-control" name="current" id="current" />
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{ 
<script>
    $(function () {
        $("form").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Attendence/PostAddAttendence",
                type: "POST",
                data: $('form').serialize(),
                success: function (data) {
                    // console.log(data);
                    var str = ' <div class="alert alert-success navbar-fixed-bottom text-center" style="padding:25px" role="alert">' +
                        '<strong><i class="fa fa-check-circle"></i> Successfully!</strong> Mark addition is successfully finished.' +
                        '</div>';
                    $('#alert').html(str);
                    $('#roll').val(null);
                    $('#current').val(null);
                }
            });
             setTimeout(function () { $(".alert").alert('close') }, 3000);
        });
    });
</script>
}

