
@{
    ViewData["Title"] = "AddNewStudent";
}

<section class="content-header" style="padding-top:0px">
    
</section>
<!-- Main content -->

<div id="alert"></div>
<!--
<section class="content container-fluid">
    <form id="form1" asp-controller="Student" asp-action="PostNewStudent" method="post" enctype="multipart/form-data">

        <center>
            <h2>University of Computer Studies(Thaton)</h2>
            <h2><span>@ViewBag.academic</span> Academic Year</h2>
            <h2><b>Admission Form</b></h2>
        </center>

        <div class="row">
            <div class="col-md-4 text-center" style="margin-left:0px;">
                <img src="~/images/school.jpg" alt="photo" class="img-thumbnail" width="150px" height="250px" style="margin-top:40px;" /><br /><br />
                <input type="file" style="margin-left:10px" name="Photo" required/>
            </div>
            <div class="col-md-8 container " style="margin-top:0px;">

                <div style="margin-top:30px" class=" table-responsive">
                    <table class="table table-bordered col-md-8" style="border:1px solid black">
                        <tr>
                            <th class="col-xs-4" style="font-size:large">Academic Year</th>
                            <td class="col-xs-4" style="font-size:large">
                               <select class="form-control" name="academic_id" id="academic" required>

                               </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="col-xs-4" style="font-size:large">University NRC Number</th>
                            <td class="col-xs-4" style="font-size:large"><input type="text" class="form-control" style="border:none" /> </td>
                        </tr>
                        <tr>
                            <th class="col-xs-4" style="font-size:large">University Entrance Year</th>
                            <td class="col-xs-4" style="font-size:large"><input type="text" class="form-control" style="border:none" /> </td>
                        </tr>
                    </table>
    -->
<section class="content container-fluid">
    <div class="box box-body">
        <form id="form1" asp-controller="Student" asp-action="PostNewStudent" method="post" style="margin-top:10px;" enctype="multipart/form-data">

            <center>
                <h1>University of Computer Studies<b>(Thaton)</b></h1>
                <h2>2018-2019 Academic Year</h2>
                <h2><b>Admission Form</b></h2>
            </center>

            <div class="row">
                <div class="col-md-4 text-center" style="margin-left:0px;">
                    <img src="~/adminLTE/img/avatar.png" id="img" class="img-thumbnail" style="margin-top:40px;margin-right:50px;height:150px;width:150px;" /><br /><br />
                    <input type="file" style="margin-left:10px" name="Photo" id="imgInp" required />
                </div>
                <div class="col-md-8 container " style="margin-top:0px;">

                    <div style="margin-top:30px" class=" table-responsive">
                        <table class="table table-bordered col-md-8" style="border-color:forestgreen;">
                            <tr>
                                <th class="col-xs-4" style="font-size:large">Academic Year</th>
                                <td class="col-xs-4" style="font-size:large">
                                    <select class="form-control" name="academic_id" id="academic" required></select>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-xs-4" style="font-size:large">University NRC Number</th>
                                <td class="col-xs-4" style="font-size:large"><input type="text" class="form-control" style="" /> </td>
                            </tr>
                            <tr>
                                <th class="col-xs-4" style="font-size:large">University Entrance Year</th>
                                <td class="col-xs-4" style="font-size:large"><input type="text" class="form-control" style="" /> </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <div class="container-fluid  table-responsive" style="margin-top:30px;">
                <table class="table table-bordered" style="border:1px solid forestgreen;border-top:1px solid forestgreen">
                    <tr>

                        <th style=""></th>
                        <th style=""></th>
                        <th style="font-size:large">Student</th>
                        <th style="font-size:large">Father</th>
                        <th style="font-size:large">Mother</th>
                    </tr>
                    <tr style=";">
                        <th style="font-size:large">1</th>
                        <th style="font-size:large">Name</th>

                        <td style="font-size:large"><input type="text" class="form-control" style="" name="Name" required /></td>
                        <td style="font-size:large"><input type="text" class="form-control" style="" name="father_name" required /></td>
                        <td style="font-size:large"><input type="text" class="form-control" style="" name="mother_name" required /></td>
                    </tr>
                    <tr style=";">
                        <th style="font-size:large">2</th>
                        <th style="font-size:large">Gender</th>

                        <td style="font-size:large" colspan="3">
                            <select name="sex" class="form-control" style="width:100px;">
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                            </select>
                        </td>

                    </tr>

                    <tr>
                        <th style="font-size:large">3</th>
                        <th style="font-size:large">Nationality</th>

                        <td style="font-size:large" id="student_nationality">
                            <select name="nationality" class="form-control" id="stu_nationality" >
                                <option>Enter Nationality....</option>
                                <option>Burma</option>
                                <option>Mon</option>
                                <option>Kayin</option>
                                <option>Paoh</option>
                                <option>Shan</option>
                                <option value="other">Other</option>
                            </select>
                        </td>

                        <td style="font-size:large" id="father_nationality">
                            <select name="father_nationality" class="form-control" id="fath_nationality">
                                <option>Enter Nationality....</option>
                                <option>Burma</option>
                                <option>Mon</option>
                                <option>Kayin</option>
                                <option>Paoh</option>
                                <option>Shan</option>
                                <option value="other">Other</option>
                            </select>
                        </td>

                        <td style="font-size:large" id="mother_nationality">
                            <select name="mother_nationality" class="form-control" id="moth_nationality">
                                <option>Enter Nationality....</option>
                                <option>Burma</option>
                                <option>Mon</option>
                                <option>Kayin</option>
                                <option>Paoh</option>
                                <option>Shan</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th style="font-size:large">4</th>
                        <th style="font-size:large">Religion</th>

                        <td style="font-size:large" id="student_religion">
                            <select class="form-control" id="stu_religion" name="religion">
                                <option>Enter Religion....</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Islam</option>
                                <option>Hinduism</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                        <td style="font-size:large" id="father_religion">
                            <select class="form-control" id="fath_religion" name="father_religion">
                                <option>Enter Religion....</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Islam</option>
                                <option>Hinduism</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                        <td style="font-size:large" id="mother_religion">
                            <select class="form-control" id="moth_religion" name="mother_religion">
                                <option>Enter Religion....</option>
                                <option>Buddhism</option>
                                <option>Christianity</option>
                                <option>Islam</option>
                                <option>Hinduism</option>
                                <option value="other">Other</option>
                            </select>
                        </td>

                    </tr>
                    <tr>
                        <th style="font-size:large">5</th>
                        <th style="font-size:large">City</th>

                        <td style="font-size:large" id="student_city">

                            <select name="city" class="form-control" id="stu_city">
                                <option>Enter City....</option>
                                <option>Mawlamyine</option>
                                <option>Kyaikmayaw</option>
                                <option>Chaungzone</option>
                                <option>Thanphyuzayat</option>
                                <option>Ye</option>
                                <option>Mudon</option>
                                <option>Belin</option>
                                <option>Kyaikhto</option>
                                <option>Paung</option>
                                <option>Thaton</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                        <td style="font-size:large" id="father_city">
                            <select class="form-control" id="fath_city" name="father_city">
                                <option>Enter City....</option>
                                <option>Mawlamyine</option>
                                <option>Kyaikmayaw</option>
                                <option>Chaungzone</option>
                                <option>Thanphyuzayat</option>
                                <option>Ye</option>
                                <option>Mudon</option>
                                <option>Belin</option>
                                <option>Kyaikhto</option>
                                <option>Paung</option>
                                <option>Thaton</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                        <td style="font-size:large" id="mother_city">
                            <select class="form-control" id="moth_city" name="mother_city">
                                <option>Enter City....</option>
                                <option>Mawlamyine</option>
                                <option>Kyaikmayaw</option>
                                <option>Chaungzone</option>
                                <option>Thanphyuzayat</option>
                                <option>Ye</option>
                                <option>Mudon</option>
                                <option>Belin</option>
                                <option>Kyaikhto</option>
                                <option>Paung</option>
                                <option>Thaton</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th style="font-size:large">6</th>
                        <th style="font-size:large">Phone Number</th>
                        <td style="font-size:large"><input type="tel" class="form-control" pattern="[0-9]{11}" placeholder="09----------" style="" name="phone" required /></td>
                        <td style="font-size:large"><input type="tel" class="form-control" pattern="[0-9]{11}" placeholder="09----------" style="" name="father_phone" required /></td>
                        <td style="font-size:large"><input type="tel" class="form-control" pattern="[0-9]{11}" placeholder="09----------" style="" name="mother_phone" required /></td>

                    </tr>
                    <tr>
                        <th style="font-size:large">7</th>
                        <th style="font-size:large">Job</th>
                        <td style="font-size:large"><input type="text" class="form-control" style="" required /></td>
                        <td style="font-size:large"><input type="text" class="form-control" style="" name="father_job" required /></td>
                        <td style="font-size:large"><input type="text" class="form-control" style="" name="mother_job" required /></td>

                    </tr>

                    <tr>
                        <th style="font-size:large">8</th>
                        <th style="font-size:large">NRC</th>
                        <td style="font-size:large"><input type="text" class="form-control" pattern="[0-9]{2}/[A-Z]{3}\([A-Z]{1}\)[0-9]{6}" style="" name="Nrc" placeholder="**/***(*)******" /></td>
                        <td style="font-size:large"><input type="text" class="form-control" pattern="[0-9]{2}/[A-Z]{3}\([A-Z]{1}\)[0-9]{6}" style="" name="father_nrc"  placeholder="**/***(*)******" required /></td>
                        <td style="font-size:large"><input type="text" class="form-control" pattern="[0-9]{2}/[A-Z]{3}\([A-Z]{1}\)[0-9]{6}" style="" name="mother_nrc"  placeholder="**/***(*)******" required /></td>

                    </tr>

                </table>
            </div>



            <div class="container-fluid  table-responsive" style="margin-top:30px;margin-right:5px;">
                <table class="table table-bordered">
                    <tr style="border:1px solid;">
                        <th style="font-size:large">9</th>
                        <th style="font-size:large" colspan="2">Date Of Birth Of Student</th>

                        <td style="font-size:large">
                            <div class="form-group">

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" name="DOB" class="form-control pull-right" id="datepicker" required>
                                </div>
                                <!-- /.input group -->
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="font-size:large" rowspan="3">10</th>
                        <th style="font-size:large" rowspan="3">Passed Matriculation Exam:</th>
                        <th style="font-size:large">Roll No:</th>
                        <td style="font-size:large"><input type="text" class="form-control" style="" pattern="[A-Z]-{ }" name="reg_no" placeholder="**_****" /></td>
                    </tr>
                    <tr>

                        <th style="font-size:large">Year</th>

                        <td style="font-size:large"><input type="text" class="form-control" style="" name="reg_date" required /></td>

                    </tr>
                    <tr>

                        <th style="font-size:large">Mark</th>

                        <td style="font-size:large"><input type="number" class="form-control" style="" name="Mark" required /></td>

                    </tr>
                    <tr>
                        <th style="font-size:large">11</th>
                        <th style="font-size:large" colspan="2">Address</th>

                        <td style="font-size:large"><textarea class="form-control" style="" name="address" required></textarea></td>

                    </tr>

                    <tr>
                        <th style="font-size:large">12</th>
                        <th style="font-size:large" colspan="2">Email Adderss</th>
                        <td style="font-size:large"><input type="email" class="form-control" style="" name="email" required /></td>


                    </tr>



                </table>
            </div>


            <center style="margin-bottom:30px;"> <input type="submit" value="Save" style="margin-top:280px;font-weight:bolder;font-size:18px;background-color:cadetblue;color:black;width:100px;height:50px;margin-right:100px;margin-top:50px;border-radius:10px" class="form-control"></center>

        </form>

      
    </div>
</section>
@section Scripts{ 
<script>
    $(function () {
         $('#datepicker').datepicker({
                autoclose: true
         });
        $('#stu_city').change(function(){
            if ($('#stu_city').val() == 'other') {
                $('#student_city').html('  <input type="text" class="form-control" name="City" />');
            }
        })
         $('#moth_city').change(function(){
            if ($('#moth_city').val() == 'other') {
                $('#mother_city').html('  <input type="text" class="form-control" name="City" />');
            }
         })
        $('#fath_city').change(function () {
            if ($('#fath_city').val() == 'other') {
               $('#father_city').html('  <input type="text" class="form-control" name="City" />');
            }
        })
        $('#stu_religion').change(function () {
            if ($('#stu_religion').val() == 'other') {
                $('#student_religion').html('<input type="text" class="form-control" name="Religion" />');
            }
        })
        $('#fath_religion').change(function () {
            if ($('#fath_religion').val() == 'other') {
                $('#father_religion').html('<input type="text" class="form-control" name="Religion" />');
            }
        })
         $('#moth_religion').change(function () {
            if ($('#moth_religion').val() == 'other') {
                $('#mother_religion').html('<input type="text" class="form-control" name="Religion" />');
            }
         })
         $('#stu_nationality').change(function () {
            if ($('#stu_nationality').val() == 'other') {
                $('#student_nationality').html('<input type="text" class="form-control" name="Nationality" />');
            }
        })
        $('#fath_nationality').change(function () {
            if ($('#fath_nationality').val() == 'other') {
                $('#father_nationality').html('<input type="text" class="form-control" name="Nationality" />');
            }
        })
         $('#moth_nationality').change(function () {
            if ($('#moth_nationality').val() == 'other') {
                $('#mother_nationality').html('<input type="text" class="form-control" name="Nationality" />');
            }
        })
        ///////////////////////////////////////
        
        $.ajax({
            url: "/Student/GetAcademic",
            type: "GET",
            success: function (data) {
                $.each(data, function (i, item) {
                    var str = '<option value="' + item.id + '">' + item.name + '</option>';
                    $('#academic').append(str);
                });
            }
        });
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#img').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function(){
    readURL(this);
});
    /*
         $('form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/Student/PostNewStudent",
                    type: "POST",
                    data: $('form').serialize(),
                    success: function (data) {
                        var str = ' <div class="alert alert-success navbar-fixed-bottom text-center" style="padding:25px" role="alert">' +
                            '<strong><i class="fa fa-check-circle"></i> Successfully!</strong> Student addition is successfully finished.' +
                            '</div>';
                        $('#alert').html(str);
                        $('#form1')[0].reset();

                    }
                });
                setTimeout(function () { $(".alert").alert('close') }, 5000);
            });
            
        });*/

    });
</script>
}
