
@{
    ViewData["Title"] = "AddOldStudent";
}

<section class="content-header" style="padding-top:10px">
    <h1>
        Add Old Student
        <small>Data</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
</section>

